#header {
	text-align: center;

}
a {
	padding: 20px;
	font-size: 16px;
	color: black;
}
footer {
	border-style: groove;
}
body {
	color: darkred;	
	max-width: 960px;
	margin: 10px auto;
	background-color: linen;
	opacity: .9;
}
html {
	background-image: url(sss.jpg);
}